/* Update header style */
header {
    background-color: #FF8C00;
    color: #FFFFFF;
    text-align: center;
    padding: 1em 0;
    position: relative;
     font-size: 18px;
}

/* Container style */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    position: relative; /* Add this line */
}

/* Position the SVG at the top left corner */
.logo-coop {
    text-align: center;
    background-color: #fff;
    position: absolute;
    top: 10px;
    right: 10px; /* Change right to left */
    padding: 18px 24px 14px;
    -webkit-transition: padding 200ms ease-in-out;
    transition: padding 200ms ease-in-out;
}


/* Navigationsstil */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left; /* Align the navigation to the left */
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px; /* Add this line to adjust font size */
}

/* Link-Stile */
a {
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

/* Seiteninhalt */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
