/* Stil für den Haupttitel */
header {
    background-color: #FF8C00;
    color: #FFFFFF;
    text-align: center;
    padding: 1em 0;
    position: relative;
}


/* Stil für den Haupttitel */
h1 {
  color:  white;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

/* Stil für die Tabelle */
table {
  border-collapse: collapse;
  width: 40%; /* Ändere die Breite der Tabelle auf 80% */
  margin: 20px auto; /* Gibt der Tabelle Abstand auf allen Seiten */

}

/* Stil für Tabellenzeilen */
tr {
  border: 1px solid black;
}

/* Stil für Tabellenzellen */
th {
  padding: 12px; /* Erhöhe den Zellen-Padding für mehr Platz um den Inhalt */
  text-align: center;
  border: 6px solid #ccc;
  border-radius: 7px;
  color: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #FF8C00;
  white-space: nowrap; /* Verhindert, dass der Zelleninhalt umbricht */
  overflow: hidden; /* Verhindert, dass der Inhalt überläuft */
  text-overflow: ellipsis; /* Zeigt "..." an, wenn der Inhalt abgeschnitten ist */
}

td {
  padding: 12px; /* Erhöhe den Zellen-Padding für mehr Platz um den Inhalt */
  text-align: center;
  border: 6px solid #ccc;
  border-radius: 7px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  white-space: nowrap; /* Verhindert, dass der Zelleninhalt umbricht */
  overflow: hidden; /* Verhindert, dass der Inhalt überläuft */
  text-overflow: ellipsis; /* Zeigt "..." an, wenn der Inhalt abgeschnitten ist */
}

/* CSS-Stile für den Logout-Link
#out {
    display: block;
    width: 10%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 10px;
}*/


/* Allgemeine Ausrichtung */

/* Allgemeine Ausrichtung */
body {
    font-family: Arial, sans-serif;
    background-color:  white;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.logo-coop {
    text-align: center;
    background-color: #fff;
    position: absolute;
    top: 10px;
    right: 10px; /* Change right to left */
    padding: 18px 24px 14px;
    -webkit-transition: padding 200ms ease-in-out;
    transition: padding 200ms ease-in-out;
}

/* Navigationsstil */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left; /* Align the navigation to the left */
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px; /* Add this line to adjust font size */
}

/* Link-Stile */
a {
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

