<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="css/index.css">
    <link rel="icon" href="favicon.ico">
</head>
<body>
<header>
    <h1>Willkommen auf unserer Plattform</h1>

    <nav>
        <ul>
            <li><a th:href="@{/personal/form}">Benutzerformular</a></li>
            <li><a th:href="@{/user/profile}">Benutzerinformationen</a></li>

        </ul>
    </nav>
</header>
</body>
</html>
