<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Profil</title>
	<link rel="stylesheet" href="css/profile.css">
</head>
<body>
<header>
	<h1>Profil</h1>
</header>
<div>
	<p>Benutzername: <span th:text="${user.username}"></span></p>
	<p>Name: <span th:text="${user.name}"></span></p>
</div>
<a th:href="@{/personal/form}">Benutzer Formular ausfüllen</a>
<a th:href="@{/personal/info}">Benutzer Liste</a>
<a th:href="@{/logout}">Logout</a>
</body>
</html>
