<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Benutzerinformationen</title>
    <link rel="stylesheet" href="css/userInfo.css">
</head>
<body>
<h1>Benutzerinformationen</h1>
<table>
    <tr>
        <th>Name</th>
        <th>Alter</th>
        <th>Geschlecht</th>
        <th>Adresse</th>
        <th>Nationalität</th>
        <th>Datum</th>
    </tr>
    <tr th:each="personal : ${allPersonals}">
        <td th:text="${personal.name}"></td>
        <td th:text="${personal.age}"></td>
        <td th:text="${personal.gender}"></td>
        <td th:text="${personal.address}"></td>
        <td th:text="${personal.nationality}"></td>
        <td th:text="${personal.date}"></td>
    </tr>
</table>
<form th:action="@{/personal/form}" method="get">
    <button type="submit">Zurück</button>
</form>
<a href="logout">Logout</a>
</body>
</html>
