<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Benutzerformular</title>
    <link rel="stylesheet" href="css/createPersonForm.css">
</head>
<body>
<h1>Benutzerformular</h1>
<form th:action="@{/personal/create}" method="post" th:object="${personal}">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" th:field="*{name}" required>
    </div>
    <div>
        <label for="age">Alter:</label>
        <input type="number" id="age" th:field="*{age}" required>
    </div>
    <div>
        <label for="gender">Geschlecht:</label>
        <select id="gender" th:field="*{gender}" required>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
    </div>
    <div>
        <label for="address">Adresse:</label>
        <input type="text" id="address" th:field="*{address}" required>
    </div>
    <div>
        <label for="nationality">Nationalität:</label>
        <input type="text" id="nationality" th:field="*{nationality}" required>
    </div>
    <div>
        <label for="date">Datum:</label>
        <input type="datetime-local" id="date" th:field="*{date}" required>
    </div>
    <button type="submit">Absenden</button>
</form>
<a th:href="@{/logout}">Logout</a>
</body>
</html>
