<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Users</title>
</head>
<body>
<h1>All Users</h1>
<table>
    <thead>
    <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Age</th>
        <th>Gender</th>
        <th>Address</th>
        <th>Nationality</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${allUsers}">
        <td th:text="${user.username}">Username</td>
        <td th:text="${user.personalInfo.name}">Name</td>
        <td th:text="${user.personalInfo.age}">Age</td>
        <td th:text="${user.personalInfo.gender}">Gender</td>
        <td th:text="${user.personalInfo.address}">Address</td>
        <td th:text="${user.personalInfo.nationality}">Nationality</td>
        <td>
            <a th:href="@{/updateUser(id=${user.id})}">Edit</a> |
            <a th:href="@{/deleteUser(id=${user.id})}">Delete</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
